header {
  height: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c76700;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

